body {
  background: #15171b !important;
}

.contents {
  text-align: center;
  max-width: 1398px;
  margin: 0 auto;
  position: relative;
}

.watch {
  margin-top: 15px;
  text-align: left;
  font-family: GmarketSans;
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
}

.bans .pick-image .active {
  bottom: auto;
  top: 0;
}

.pick-image .active {
  height: 14px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  -webkit-animation: active-grow 1 0.35s ease-out;
  animation: active-grow 1 0.35s ease-out;
}
.red-team-card > .active {
  background: #be2038;
}

.blue-team-card > .active {
  background: #0a4264;
}

.champion {
  position: relative;
  display: inline-block;
}

.champion-wrap {
  transition: background 0.2s ease-in-out;
}

.champion-wrap::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 8px;
  z-index: -1;
}

.active-team-red::before {
  background: radial-gradient(
    circle,
    rgb(199 84 84 / 50%) 20%,
    rgba(0, 0, 255, 0) 70%
  );
}

.active-team-blue::before {
  background: radial-gradient(
    circle,
    rgba(0, 102, 255, 0.4) 0%,
    rgba(0, 0, 255, 0) 70%
  );
}
